.menuItemsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.menuItem {
  padding: 20px;
  max-width: 300px;
  /* flex: 1 0 31%; */
}