.sectionImage {
  max-width: 100%;
}

.subSection {
  padding: 10px;
}

@media(min-width: 800px) {
  .section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .sectionImage {
    max-width: 500px;
  }
}